<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow bg-secondary-theme">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">All Blog Posts</h3>
                    <p class="mb-2">You can manage your blog posts here.</p>
                    <div class="btn-group">
                        <button class="btn btn-info bg-theme text-white text-size" routerLink="/posts/new">Add New Post</button>
                        <button class="btn btn-warning text-size" routerLink="/">Back to Dashboard</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-size">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Post Image</th>
                                    <th>Title</th>
                                    <th>Excerpt</th>
                                    <th>Category</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let post of posts; let i = index">
                                    <td>{{ i+1 }}</td>
                                    <td>
                                        <img [src]="post.postImgPath" alt="Post Image" class="img-fluid">
                                    </td>
                                    <td>{{ post.title }}</td>
                                    <td class="excerpt-text">{{ post.excerpt }}</td>
                                    <td>{{ post.category.category }}</td>
                                    <td>{{ post.createdAt | date }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-warning text-size" routerLink="/posts/new" [queryParams]="{ id: post.id }">
                                                <i class="fas fa-edit"></i> Edit
                                            </button>
                                            <button class="btn btn-danger text-size" (click)="onDelete(post.postImgPath, post.id)">
                                                <i class="fas fa-trash"></i> Delete
                                            </button>
                                            <button *ngIf="!post.isFeatured" class="btn btn-success text-size" (click)="onFeatured(post.id, true)">
                                                <i class="fas fa-star"></i> Mark Featured
                                            </button>
                                            <button *ngIf="post.isFeatured" class="btn btn-info text-size" (click)="onFeatured(post.id, false)">
                                                <i class="fas fa-star"></i> Remove Featured
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
